@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<div>
    Sub Widget 2 here: 

    @for (int i = 0; i < 25; i++)
    {
        @i
    }
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus velit at enim ultrices et blandit tortor ullamcorper. Fusce sit amet sodales turpis. Aliquam erat volutpat. Donec sit amet quam id mauris faucibus volutpat. Donec semper nunc id orci venenatis rhoncus. In porta odio ut urna ultrices varius. Aenean eu tellus enim. Proin aliquam arcu in felis tincidunt euismod. Donec aliquam mattis diam a rhoncus. Curabitur vestibulum ante nec eros laoreet gravida. Praesent ligula tellus, lobortis a bibendum vel, venenatis quis sapien. Pellentesque malesuada orci vitae ligula ultricies eleifend. Praesent ac tellus nunc, eget ullamcorper ipsum. Integer mattis nulla ac ligula viverra fermentum. Morbi id adipiscing magna.
    
    <br/>
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus velit at enim ultrices et blandit tortor ullamcorper. Fusce sit amet sodales turpis. Aliquam erat volutpat. Donec sit amet quam id mauris faucibus volutpat. Donec semper nunc id orci venenatis rhoncus. In porta odio ut urna ultrices varius. Aenean eu tellus enim. Proin aliquam arcu in felis tincidunt euismod. Donec aliquam mattis diam a rhoncus. Curabitur vestibulum ante nec eros laoreet gravida. Praesent ligula tellus, lobortis a bibendum vel, venenatis quis sapien. Pellentesque malesuada orci vitae ligula ultricies eleifend. Praesent ac tellus nunc, eget ullamcorper ipsum. Integer mattis nulla ac ligula viverra fermentum. Morbi id adipiscing magna.
    
    <br/>
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus velit at enim ultrices et blandit tortor ullamcorper. Fusce sit amet sodales turpis. Aliquam erat volutpat. Donec sit amet quam id mauris faucibus volutpat. Donec semper nunc id orci venenatis rhoncus. In porta odio ut urna ultrices varius. Aenean eu tellus enim. Proin aliquam arcu in felis tincidunt euismod. Donec aliquam mattis diam a rhoncus. Curabitur vestibulum ante nec eros laoreet gravida. Praesent ligula tellus, lobortis a bibendum vel, venenatis quis sapien. Pellentesque malesuada orci vitae ligula ultricies eleifend. Praesent ac tellus nunc, eget ullamcorper ipsum. Integer mattis nulla ac ligula viverra fermentum. Morbi id adipiscing magna.
</div>
