@using System.Collections.Generic
@using NancyRazorPerformance
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
              
@{
    var trips = (List<Trip>) Model.Trips;
}

<div>
    Widget 2 here
    
    @foreach (var trip in trips)
    {
        <h2>@trip.Name</h2>
        
        <div>
            @Html.Raw(trip.Content)
        </div>
    }
</div>
